.aside {
  width: 25%;
  position: relative;
  background-color: #bdbdbd;
  &__buttons__block {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 45px;
    left: 20px;
    height: 85px;
  }
  h3 {
    font-size: 12px;
    margin: 0;
  }
}

@media screen and (max-width: 580px) {
  .aside {
    width: 100%;
    height: 11%;
    &__buttons__block {
      justify-content: space-around;
      top: 5px;
      left: 15px;
    }
  }
}
